body {
    font-family: "league-gothic", sans-serif;
    color: red;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 40px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #output {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #killerImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px; /* optional */
  }